/* Footer.css */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Adjust as needed */
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 100px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    flex: 1;
  }
  
  .footer-logo-img {
    width: 150px;
  }
  
  .footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  